{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
<!-- Fontawesome 적용 -->
<script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
포스트 상세페이지 | Instagram
{% endblock title %}

{% block _nav %}
{% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="postEditModal" tabindex="-1" role="dialog" aria-labelledby="postEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- close_btn -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- modify_btn -->
        <button type="button" class="btn btn-secondary" id="modify_btn"
          onclick="location.href='{% url 'instagram:post_modify' post.post_id %}'">포스트 수정</button>
        <!-- delete_btn -->
        <button type="button" class="btn btn-secondary" id="delete_btn" onclick="location.href='{% url 'instagram:post_delete' post.post_id %}'">포스트 삭제</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

{% if messages %}
<div>
  {% for message in messages %}
  {{ message.tags }}! {{ message.message }}
  {% endfor %}
</div>
{% endif %}

<div class="main">
  <div class="main_left">
    <section class="card_section">
      <div class="card">
        <header>
          {% if postDetailUser.profile_img_src == '' %}
            <img src="{% static 'images/login.png' %}" alt="test">
          {% else %}  
            <img src="{{ postDetailUser.profile_img_src }}" alt="test">
          {% endif %}  
          <div class="user_id">
            <a href="{% url 'instagram:post_list' postDetailUser.username %}">
              {{ postDetailUser.username }}
            </a>
          </div>
          <div class="three_dots_btn">
            <!-- Button trigger modal -->
            <a href="#" data-toggle="modal" data-target="#postEditModal">
              <i class="fas fa-ellipsis-h"></i>
            </a>
          </div>
        </header>
        <div class="card_image">
          <img src="{{ post.post_img_url }}" alt="Image">
          <div class="content">
            <!-- content -->
            <p>{{ post.content }}</p>
            <!-- hashtag -->
            <p class="hashtag">
              {% for tag in post.hashtags %}
                <a href="{% url 'instagram:search' %}?keyword={{ tag | urlencode }}">{{ tag }}</a>
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="info">
          <div class="info_left">
            {% if post.like == 0 %}
              <i class="far fa-heart" onclick="likePost(this, {{ post.post_id }})"></i>
            {% else %}
              <i class="fas fa-heart" onclick="unlikePost(this, {{ post.post_id }})"></i>
            {% endif %}
              <i class="far fa-comment"></i>
          </div>
          <div class="info_right">
            {% if post.collection == 0 %}
              <i class="far fa-bookmark" onclick="collection(this, {{ post.post_id }})"></i>
            {% else %}  
              <i class="fas fa-bookmark" onclick="uncollection(this, {{ post.post_id }})"></i>
            {% endif %}
          </div>
        </div>
        <div class="like_time">
          <span class="like_number">
            좋아요 <p>{{ post.likeCount }}</p>개
          </span>
          <span class="upload_time">
            <p>{{ post.time }}</p>
          </span>
        </div>
        <div id="disqus_thread"></div>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript">
function likePost(elm, n) {
  $.ajax({
    url: "{% url 'instagram:like_post' 1 %}".replace('1', n),
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType: "json",
    type : "POST",
    /* 서버와 통신이 끝나면 성공,실패 여부 */
    success: function(response) {
      $(elm).attr("class", "fas fa-heart");
      $(elm).attr("onclick", "unlikePost(this, " + n + ")");
      /* $("#likeCount").text(response.likeCount); */
      $(elm).parent().parent().next().children().first().children().text(response.likeCount);
    },
    error: function(xhr) {
      alert("좋아요를 반영하는 과정에서 에러가 발생했습니다!");
    }
  });
}

function unlikePost(elm, n) {
  $.ajax({
    url: "{% url 'instagram:unlike_post' 1 %}".replace('1', n),
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType: "json",
    type: "POST",
    success: function(response) {
      $(elm).attr("class", "far fa-heart");
      $(elm).attr("onclick", "likePost(this, " + n + ")");
      $(elm).parent().parent().next().children().first().children().text(response.likeCount);
    },
    error: function(xhr) {
      alert("좋아요 취소를 반영하는 과정에서 에러가 발생했습니다!");
    }
  });
}

function collection(elm, n) {
  $.ajax({
    url: "{% url 'instagram:collection' 1 %}".replace('1', n),
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType: "json",
    type: "POST",
    success: function(response) {
      $(elm).attr("class", "fas fa-bookmark");
      $(elm).attr("onclick", "uncollection(this, " + n + ")");
    },
    error: function(xhr) {
      alert("컬렉션을 저장하는 과정에서 에러가 발생했습니다!")
    }
  });
}

function uncollection(elm, n) {
  $.ajax({
    url: "{% url 'instagram:uncollection' 1 %}".replace('1', n),
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType: "json",
    type: "POST",
    success: function(response) {
      $(elm).attr("class", "far fa-bookmark");
      $(elm).attr("onclick", "collection(this, " + n + ")");
    },
    error: function(xhr) {
      alert("컬렉션을 삭제하는 과정에서 에러가 발생했습니다!")
    }
  });
}
</script>

<!-- DISQUS -->
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
var disqus_config = function () {
  this.page.url = 'http://127.0.0.1:8000/p/{{ post.post_id }}/';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ post.post_id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  this.language = 'ko';
};

/* DON'T EDIT BELOW THIS LINE */ 
(function() { 
  var d = document, s = d.createElement('script');
  s.src = 'https://instagram-clonecoding.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the 
  <a href="https://disqus.com/?ref_noscript">
    comments powered by Disqus.
  </a>
</noscript>

{% endblock body %}