{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
  <!-- Fontawesome 적용 -->
  <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block title %}
나의 포스팅 페이지 | Instagram
{% endblock title %}

{% block _nav %}
  {% include 'instagram/_nav.html' %}
{% endblock _nav %}

{% block body %}

{% if messages %}
  <div>
    {% for message in messages %}
      {{ message.tags }}! {{ message.message }}
    {% endfor %}
  </div>
{% endif %}

<div class="main">
  <div class="user_info">
  <div>
    <div class="box">
      <div class="user_img">
        <img src="{{ user.profile_img_src }}" alt="profile_img">
      </div>
      <div class="info">
        <span class="user_id">
          <p>{{ user.username }}</p>
        </span>
        <span class="modify">
        {% if user.is_authenticated %}
          <!--프로필편집-->
          <a href="{% url 'accounts:userinfomodify' %}"><i class="fas fa-address-card"></i></a>  
          <!--비밀번호변경-->
          <a href="{% url 'accounts:passwordmodify' %}"><i class="fas fa-key"></i></a>
        {% endif %}
        </span>

        <div class="number">
          <span class="post_number">
            게시글 <p></p>
          </span>
          <span class="follower_number">
            팔로워 <p></p>
          </span>
          <span class="follow_number">
            팔로우 <p></p>
          </span>
        </div>
      </div>
      
      <span class="profile_msg">
        <p>{{ user.profile_msg }}</p>
      </span>
    </div>
    <div class="button">
        <button type="submit" class="btn btn-primary" id="follow_btn" onclick='location.href="#"'>팔로우</button>
      {% if user.is_authenticated %}
        <button type="submit" class="btn btn-primary" onclick='location.href="{% url "accounts:logout" %}"'>로그아웃</button>
      {% endif %}
    </div>
  </div>  

    <hr>

  <div class="user_posts">
      <div class="postBox">
        <div class="postImg">
          <a href="{% url 'instagram:post_detail' post.post_id %}">
            <img src="{{post.post_img_url}}" alt="상품 이미지" class="innerImg">
          </a>  
        </div>
      </div>
  </div> 

</div>  
{% endblock body %}