.main{
    background-color: white;
}
.container{
    margin-top: 50px;
}
.card{
    border: 1px solid #c7c7c7;
    background-color: #fafafa;
    width:500px;
    height: auto;
}
.user_img{
    width: 80px;
    height: 80px;
}