{% load static %}  
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/_nav.css" %}">
{% endblock head %}

<div class="nav_container">
  <div class="left">
    <a href="{% url 'instagram:main' %}" class="insta_logo"><i class="fab fa-instagram"></i></a><h2>Instagram</h2>
  </div>
  <div class="search">
    <form action="#">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="검색">
    </form>
  </div>
  <div class="right">
    <a href="{% url 'instagram:post_upload' %}"><i class="fas fa-camera"></i></a>
    <a href="#"><i class="far fa-compass"></i></a>
    <a href="#"><i class="far fa-heart"></i></a>
    {% if user.is_authenticated %}
      {% if user.profile_img_src == '' %}
        <a href="{% url 'instagram:post_list' user.username %}"><img src="{% static 'images/login.png' %}" alt="profile_img" class="navUserImg"></a>
      {% else %}
        <a href="{% url 'instagram:post_list' user.username %}"><img src="{{ user.profile_img_src }}" alt="profile_img" class="navUserImg"></a>
      {% endif %}
    {% else %}
    <a href="{% url 'accounts:login' %}"><i class="far fa-user"></i></a>
    {% endif %}
  </div>
</div>